<ion-content [fullscreen]="true">
  <div class="container h-100">
    <div class="row h-100 justify-content-between">
      <div class="col-12 col-md-3 align-self-center text-center">
        <a [routerLink]="['/products']">
          <ion-icon name="shirt-outline" size="large" class="align-middle"></ion-icon>
          <p class="display-4">Productos</p>
        </a>
      </div>
      <div class="col-12 col-md-3 align-self-center text-center">
        <a [routerLink]="['/sales']">
          <ion-icon name="cash-outline" size="large" class="align-middle"></ion-icon>
          <p class="display-4">Ventas</p>
        </a>
      </div>
      <div class="col-12 col-md-3 align-self-center text-center">
        <a [routerLink]="['/rents']">
          <ion-icon name="pricetags-outline" size="large" class="align-middle"></ion-icon>
          <p class="display-4">Rentas</p>
        </a>
      </div>
    </div>
  </div>
</ion-content>
