.logo{
  width: 40vw;
  filter: invert(100%) sepia(0%) saturate(7474%) hue-rotate(74deg) brightness(108%) contrast(108%);
}

a{
  color: white !important;
  text-decoration: none !important;
}

a:hover{
  color: white !important;
  text-decoration: none !important;
}

