ul li {
  color: white !important;
}

a {
  color: white;
}
.nav-link.active{
  background-color: white !important;
  color: #3498db
}

ion-searchbar{
  --background: white;
}

.container-fluid{
  height: 80%;
}

.sales-card{
  height: 100%;
}

.btn-success{
  color: white;
}
