.menu-body{
  --ion-background-color: white;
}
.row{
  height: 33.33%;
}
.blue-category{
  background-color: #3498db;
  color: white
}

a{
  color: #3498db;
  text-decoration: none;
}

.white-link{
  color: white !important;
}
