<ion-menu contentId="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title (click)="onNavigate('home')" class="fw-bold">Matatena.</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-body">
    <div class="container h-100">
      <div class="row">
        <div class="col-12 h-100 d-flex blue-category">
          <div class="align-self-center ps-4 flex-fill">
            <a (click)="onNavigate('products')" class="white-link">
              <ion-icon name="shirt-outline" size="large" class="align-middle"></ion-icon> &nbsp; <span class="align-middle">Productos</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 h-100 d-flex">
          <div class="align-self-center ps-4 flex-fill">
            <a (click)="onNavigate('sales')" class="primary">
              <ion-icon name="cash-outline" size="large" class="align-middle"></ion-icon> &nbsp; <span class="align-middle">Ventas</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 h-100 d-flex blue-category">
          <div class="align-self-center ps-4 flex-fill">
            <a (click)="onNavigate('rents')" class="white-link">
              <ion-icon name="pricetags-outline" size="large" class="align-middle"></ion-icon> &nbsp; <span class="align-middle">Rentas</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>
